.DS_Store
target/
.venv/
.venv-*/
.buildenv/
.tmp-wheel-env/
.cargo-home/
node_modules/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
.spiraltorch/
*.zip
dist/
logs/
__pycache__/
*.pyc
bindings/st-py/spiraltorch/*.so
bindings/st-py/spiraltorch/*.pyd
