[advisories]
unmaintained = "workspace"
yanked = "warn"
ignore = [
    "RUSTSEC-2024-0437",
    "RUSTSEC-2025-0020",
    "RUSTSEC-2026-0007",
    "RUSTSEC-2026-0009",
]

[bans]
multiple-versions = "warn"
wildcards = "deny"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[licenses]
allow = [
    "AGPL-3.0-or-later",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "MIT",
    "MIT-0",
    "MPL-2.0",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Unlicense",
    "Zlib",
]
confidence-threshold = 0.8
