[package]
name = "visualize-z-volume"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0-or-later"
publish = false

[dependencies]
rand = "0.8"
st-backend-wgpu = { path = "../../crates/st-backend-wgpu" }
st-vision = { path = "../../crates/st-vision" }
